.main {
    display: flex;
    justify-content:space-between;
    text-align: center;
    margin: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
    max-width: 90vw;
    max-height: 90vh;
}

.right{
   flex-grow: 1;
   border-radius: 5px;
}


#search-tf{
    background-color: #514E4E;
    border-style: solid;
    border-color: azure;
    border-width: 1px;
    border-radius: 5px;

}
#radius-tf{
    background-color: #514E4E;
    border-style: solid;
    border-color: azure;
    border-width: 1px;
    border-radius: 5px;
}

.map {
    padding: 10px;
    height: 80vh;
    width: 77vw;
    max-width:90vw;
    max-height: 90vh;
    border-style: solid;
    border-color: azure;
    border-width: 1px;
    border-radius: 5px;
}