.main {
    display: flex;
    justify-content:space-between;
    text-align: center;
    width:max-content;
    height: max-content;
    padding: 7px;
    max-width: 90vw;
    max-height: 90vh;
}

.right{
   flex-grow: 1;
   padding-left: 10px;
   width: fit-content;
   height: fit-content;
}

.search, .radius {
    padding-bottom: 10px;
}



#search-tf, #radius-tf{
    background-color: #514E4E;
    border-style: solid;
    border-color: azure;
    border-width: 1px;
    border-radius: 5px;

}

.map {
    padding: 3px;
    height: 80vh;
    width: 77vw;
    max-width:90vw;
    max-height: 90vh;
    border-style: solid;
    border-color: azure;
    border-width: 1px;
    border-radius: 5px;
}