.Register{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    font-size: 64px;
    color: rgba(255,255,255,1);
    font-family:'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

.email, .storeName, .password, .reenterpassword, .latitude, .longitude {
    padding-bottom: 12px;
    background-color: #514E4E;
    background-clip: content-box;
}

.emailLocation, .storeNameLocation, .passwordLocation, .reenterpasswordLocation, .latitudeLocation, .longitudeLocation{
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}